name: Tests

on:
  push:
    branches:
      - main
  pull_request:

env:
  CARGO_TERM_COLOR: always
  RISC0_EXECUTOR: ipc

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Test
    runs-on: arc-runner-set
    container:
      image: ghcr.io/hyli-org/arc-runner
    timeout-minutes: 20
    strategy:
      matrix:
        toolchain:
          - stable
          # - beta
          # - nightly
    steps:
      - uses: actions/checkout@v4

      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ matrix.toolchain }}

      - name: Cache Docker layers
        id: image-cache
        uses: actions/cache@v4
        with:
          path: ~/image-cache
          key: image-cache-${{ runner.os }}

      - if: steps.image-cache.outputs.cache-hit != 'true'
        run: |
          mkdir -p ~/image-cache
          docker pull postgres:17-alpine
          docker save -o ~/image-cache/postgres.tar postgres:17-alpine

      - if: steps.image-cache.outputs.cache-hit == 'true'
        run: docker load -i ~/image-cache/postgres.tar

      # - uses: Swatinem/rust-cache@v2
      #   with:
      #     shared-key: linux-stable
      #     save-if: ${{ github.ref == 'refs/heads/main' }}
      - run: cargo nextest run --profile ci --cargo-profile ci --workspace --tests
      - run: cargo test --doc --workspace --profile ci
      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/test-results-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: target/nextest/ci/junit.xml

  coverage:
    name: Unit tests coverage
    runs-on: arc-runner-set
    container:
      image: ghcr.io/hyli-org/arc-runner
    timeout-minutes: 15
    strategy:
      matrix:
        toolchain:
          - stable
          # - beta
          # - nightly
    steps:
      - uses: actions/checkout@v4

      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ matrix.toolchain }}
      # - uses: Swatinem/rust-cache@v2
      #   with:
      #     shared-key: linux-stable
      #     save-if: ${{ github.ref == 'refs/heads/main' }}
      - name: Generate code coverage
        run: cargo llvm-cov --workspace --lib --lcov --output-path lcov.info -- --test-threads=1
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: lcov.info
          fail_ci_if_error: true

  features_flags:
    name: Build with different feature flags
    runs-on: arc-runner-set
    container:
      image: ghcr.io/hyli-org/arc-runner
    timeout-minutes: 10
    strategy:
      matrix:
        toolchain:
          - stable
          # - beta
          # - nightly
    steps:
      - uses: actions/checkout@v4

      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ matrix.toolchain }}
      - name: Build model
        run: cargo build -p hyli-model --no-default-features
      - name: Build
        run: cargo build --no-default-features
      - name: Build with sp1
        run: cargo build --no-default-features -F sp1

  unused_dependencies:
    name: Check unused dependencies
    if: github.event.pull_request.draft == false
    runs-on: arc-runner-set
    container:
      image: ghcr.io/hyli-org/arc-runner
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4

      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
      - name: Machete
        uses: bnjbvr/cargo-machete@v0.7.1
