name: Tests

on:
  push:
    branches:
      - main
  pull_request:

env:
  CARGO_TERM_COLOR: always
  RISC0_EXECUTOR: ipc
  CARGO_TARGET_DIR: /home/runner/.cache/node-cache/rust/hyli/target
  CARGO_HOME: /home/runner/.cache/node-cache/rust/cargo-home

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Test
    runs-on: arc-runner-set
    timeout-minutes: 20
    strategy:
      matrix:
        toolchain:
          - stable
          # - beta
          # - nightly
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ matrix.toolchain }}

      # For keyring dependencies
      - run: sudo apt update && sudo apt install -y libdbus-1-dev pkg-config wget build-essential libssl-dev

      - name: Cache Docker layers
        id: image-cache
        uses: actions/cache@v4
        with:
          path: ~/image-cache
          key: image-cache-${{ runner.os }}

      - if: steps.image-cache.outputs.cache-hit != 'true'
        run: |
          mkdir -p ~/image-cache
          docker pull postgres:17-alpine
          docker save -o ~/image-cache/postgres.tar postgres:17-alpine

      - if: steps.image-cache.outputs.cache-hit == 'true'
        run: docker load -i ~/image-cache/postgres.tar

      - uses: taiki-e/install-action@nextest
      # - uses: Swatinem/rust-cache@v2
      #   with:
      #     shared-key: linux-stable
      #     save-if: ${{ github.ref == 'refs/heads/main' }}

      - name: Install r0vm
        run: |
          wget https://github.com/risc0/risc0/releases/download/v3.0.3/cargo-risczero-x86_64-unknown-linux-gnu.tgz
          tar xzvf cargo-risczero-x86_64-unknown-linux-gnu.tgz
          echo "$PWD" >> $GITHUB_PATH
      - run: cargo nextest run --cargo-profile ci --workspace --tests
      - run: cargo test --doc --workspace --profile ci
      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/test-results-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: target/nextest/ci/junit.xml
  coverage:
    name: Unit tests coverage
    runs-on: arc-runner-set
    timeout-minutes: 10
    strategy:
      matrix:
        toolchain:
          - stable
          # - beta
          # - nightly
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ matrix.toolchain }}
      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov
      # - uses: Swatinem/rust-cache@v2
      #   with:
      #     shared-key: linux-stable
      #     save-if: ${{ github.ref == 'refs/heads/main' }}

      # For keyring dependencies
      - run: sudo apt update && sudo apt install -y libdbus-1-dev pkg-config wget build-essential libssl-dev
      - name: Install r0vm
        run: |
          wget https://github.com/risc0/risc0/releases/download/v3.0.3/cargo-risczero-x86_64-unknown-linux-gnu.tgz
          tar xzvf cargo-risczero-x86_64-unknown-linux-gnu.tgz
          echo "$PWD" >> $GITHUB_PATH
      - name: Generate code coverage
        run: cargo llvm-cov --workspace --lib --lcov --output-path lcov.info -- --test-threads=1
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: lcov.info
          fail_ci_if_error: true
  features_flags:
    name: Build with different feature flags
    runs-on: arc-runner-set
    timeout-minutes: 10
    strategy:
      matrix:
        toolchain:
          - stable
          # - beta
          # - nightly
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ matrix.toolchain }}
      # For keyring dependencies
      - run: sudo apt update && sudo apt install -y libdbus-1-dev pkg-config build-essential libssl-dev
      - name: Build model
        run: cargo build -p hyli-model --no-default-features
      - name: Build
        run: cargo build --no-default-features
      - name: Build with sp1
        run: cargo build --no-default-features -F sp1
  unused_dependencies:
    name: Check unused dependencies
    if: github.event.pull_request.draft == false
    runs-on: arc-runner-set
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
      - run: sudo apt update && sudo apt install -y build-essential libssl-dev
      - name: Machete
        uses: bnjbvr/cargo-machete@v0.7.1
