name: "clippy"

on:
  pull_request:
    paths: ["**/*.rs"]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  pull-requests: write
  checks: write

jobs:
  clippy:
    name: clippy check
    if: github.event.pull_request.draft == false
    runs-on: arc-runner-set
    steps:
      - uses: actions/checkout@v4

      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rustfmt
      - uses: LoliGothick/clippy-check@master
        with:
          deny: warnings
          token: ${{ secrets.GITHUB_TOKEN }}
          options: "--workspace --all-targets -F sp1 -F risc0"
      - name: Run rustfmt
        run: cargo fmt --all -- --check
      - name: Run cargo check
        run: cargo check --workspace
