name: Check Crates Compilation

on:
  push:
    branches: [main, self-hosted-workers]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  check-crates:
    runs-on: arc-runner-set
    strategy:
      fail-fast: false
      matrix:
        include:
          - crate: hyli
            features: sp1
          - crate: hyli-client-sdk
            features: rest,indexer,risc0,sp1,turmoil
          - crate: hyli-contract-sdk
            features: sp1
          - crate: hyli-contract-sdk
            features: risc0
        crate: ${{ fromJson(needs.list-crates.outputs.crates) }}

    needs: list-crates

    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@nightly
      - name: Use runner host path as cache
        run: |
          echo "CARGO_TARGET_DIR=/home/runner/.cache/node-cache/rust/hyli-${{ matrix.crate }}/target" >> $GITHUB_ENV
      - run: sudo apt update && sudo apt install -y build-essential libssl-dev pkg-config
      - run: cargo install cargo-docs-rs --force

      - name: Compile crate '${{ matrix.crate }}' with no default features
        run: cargo build -p ${{ matrix.crate }} --no-default-features

      - name: Compile crate '${{ matrix.crate }}' with default features
        run: cargo build -p ${{ matrix.crate }}

      - name: Compile crate '${{ matrix.crate }}' with specific features
        if: matrix.features != ''
        run: cargo build -p ${{ matrix.crate }} --features ${{ matrix.features }}

      - name: Build doc for crate '${{ matrix.crate }}'
        if: matrix.crate != 'hyli-noir-tools'
        run: cargo docs-rs -p ${{ matrix.crate }}

  list-crates:
    runs-on: arc-runner-set
    outputs:
      crates: ${{ steps.crate-list.outputs.crates }}

    steps:
      - uses: actions/checkout@v4

      - uses: dtolnay/rust-toolchain@stable

      - id: crate-list
        name: List workspace crates
        run: |
          CRATES=$(cargo metadata --no-deps --format-version=1 | jq -c '[.packages[].name]')
          echo "crates=$CRATES" >> $GITHUB_OUTPUT
