name: Run Turmoil P2P Server Tests

on:
  workflow_dispatch: {}
  pull_request:
    paths:
      - "crates/hyli-net/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  CARGO_TARGET_DIR: /home/runner/.cache/node-cache/rust/hyli/target
  CARGO_HOME: /home/runner/.cache/node-cache/rust/cargo-home

jobs:
  test-turmoil:
    runs-on: arc-runner-set

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - run: sudo apt update && sudo apt install -y build-essential libssl-dev

      - name: Run turmoil P2P tests - basic
        run: cargo test -p hyli-net --features turmoil turmoil_p2p
