name: Run Turmoil P2P Server Tests

on:
  workflow_dispatch: {}
  pull_request:
    paths:
      - "crates/hyli-net/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  CARGO_TARGET_DIR: ${{ github.workspace }}/.cache/target
  CARGO_HOME: ${{ github.workspace }}/.cache/cargo-home
  SHARED_CACHE_DIR: /home/runner/.cache/node-cache/rust

jobs:
  test-turmoil:
    runs-on: arc-runner-set

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Copy cache from shared storage
        run: .github/scripts/copy-cache.sh "hyli-p2p-turmoil"

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - run: sudo apt update && sudo apt install -y build-essential libssl-dev

      - name: Run turmoil P2P tests - basic
        run: cargo test -p hyli-net --features turmoil turmoil_p2p

      - name: Save cache to shared storage
        if: always() && github.ref == 'refs/heads/main'
        run: .github/scripts/save-cache.sh "hyli-p2p-turmoil"
